<section>
    <div class="planta-img">

        <h1>Estação Vital</h1>
        <img style="z-index: 5;" src="assets/imgs/estacao-vital/Novo Projeto.png" alt="Planta" />
        <div class="flower-shadow">
            
        </div>

        <div class="bottom-container">
            <div id="nome-planta">
                Planta Fofinha
                <i class="fa-solid fa-pen">
                    <button></button>
                </i>
            </div>
            <p id="nivel-atual">Nível {{ nivel }}</p>
            <div class="barra-progresso" style="margin-bottom: 1.5rem;">
                <p id="xp-info">{{ xp }}/{{ xpMax }} XP</p>
                <div class="barra-progresso-atual" [style.width.%]="(xp / xpMax) * 100"></div>
            </div>
            <div class="botoes">
                <a routerLink="/app/estacao-vital/registro-emocional">
                    <button class="circle-button">
                        <i class="fa-solid fa-seedling"></i>
                        <span>Regar planta</span>
                    </button>
                </a>
                <a routerLink="/app/estacao-vital/registro-emocional">
                    <button class="circle-button">
                        <i class="fa-solid fa-seedling"></i>
                        <span>Regar planta</span>
                    </button>
                </a>
            </div>
        </div>
    </div>
    <div class="menu-direito">
        <div id="card-diaria" class="card">
            <h1>
                <i class="icon-card"><i class="fa-solid fa-bullseye"></i></i>
                Missões Diárias
            </h1>
            <div *ngFor="let missao of missoesDiarias" class="intra-container"
                [ngClass]="{'completa': missao.concluida}">
                <div class="text-icon">
                    <i class="icon-card-no-background"><i class="fa-solid fa-hourglass"></i></i>
                    <div class="text">
                        <p>{{ missao.descricao }}</p>
                        <div *ngIf="!missao.concluida" class="barra-progresso">
                            <div class="barra-progresso-atual"></div>
                        </div>
                    </div>
                </div>
                <p class="xp-missao">+{{ missao.xp }} XP</p>
                <button class="completar-btn"
                    [ngStyle]="{ 'border': missao.concluida ? '8px solid var(--verde-3)' : '', 'background-color': missao.concluida ? 'var(--verde-3)' : '' }"
                    (click)="completarMissao(missao)">
                    <i class="fa-regular fa-circle-check"></i>
                </button>
            </div>
        </div>

        <div id="card-semanal" class="card">
            <h1>
                <i class="icon-card"><i class="fa-solid fa-bullseye"></i></i>
                Missões Semanais
            </h1>
            <div *ngFor="let missao of missoesSemanais" class="intra-container"
                [ngClass]="{'completa': missao.concluida}">
                <div class="text-icon">
                    <i class="icon-card-no-background"><i class="fa-solid fa-hourglass"></i></i>
                    <div class="text">
                        <p>{{ missao.descricao }}</p>
                        <div *ngIf="!missao.concluida" class="barra-progresso">
                            <div class="barra-progresso-atual"></div>
                        </div>
                    </div>
                </div>
                <p class="xp-missao">+{{ missao.xp }} XP</p>
                <button class="completar-btn"
                    [ngStyle]="{ 'border': missao.concluida ? '8px solid var(--verde-3)' : '', 'background-color': missao.concluida ? 'var(--verde-3)' : '' }"
                    (click)="completarMissao(missao)">
                    <i class="fa-regular fa-circle-check"></i>
                </button>
            </div>
        </div>

        <div class="card" id="card-conquistas">
            <div class="intra-container">
                <div class="text-icon">
                    <i class="icon-card-no-background"><i class="fa-solid fa-hourglass"></i></i>
                    <div class="text">
                        <p>{{ ultimaConquista.descricao }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>